/* ProjectHome.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .project-home-container {
    text-align: center;
    height: 100vh; /* Make the container take up the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
